@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        @apply scroll-smooth;
    }

    body {
        @apply m-0 min-h-screen py-6 px-6 bg-blanco-puro text-gris-oscuro dark:bg-negro-profundo dark:text-blanco-puro;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    hr {
        @apply my-3 h-[1px] bg-gris-medio dark:border-gris-claro/90;
    }

}

@layer components {
    .wrapper {
        @apply max-w-3xl w-full my-0 mx-auto;
    }

    .referencias {
        @apply text-verde-lima hover:text-gris-oscuro dark:hover:text-blanco-puro transition-colors duration-300 ease-in-out;
    }
}