/* :root {
    --color-negro-profundo: #121212;
    --color-blanco-puro: #fafafa;
    --color-gris-claro: #CCCCCC;
    --color-verde-lima: #73ba30;
    --color-gris-medio: #999;
    --color-gris-oscuro: #333;

    --bg: var(--color-negro-profundo);
    --text: var(--color-gris-claro);
}

html.light {
    --bg: var(--color-blanco-puro);
    --text: var(--color-gris-oscuro);
}

html.light h1 {
    color: var(--color-gris-oscuro)
}

html.light h2 {
    color: var(--color-gris-oscuro)
}

html.light h3 {
    color: var(--color-gris-oscuro)
}

html.light h4 {
    color: var(--color-gris-oscuro)
}

html.light p {
    color: var(--color-gris-oscuro)
}

html.light div p {
    color: var(--color-gris-oscuro)
}

body {
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    margin: 0;
}

html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--bg);
    color: var(--text);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
    color: var(--color-blanco-puro);
    font-weight: 200;
}

p {
    color: var(--color-gris-claro);
    text-wrap: pretty;
}

div p {
    color: var(--color-gris-claro);
    text-wrap: pretty;
    padding: 0.2rem 0;
}

*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Onest Variable", system-ui, sans-serif;
        @apply scroll-smooth;
    }

    body {
        @apply m-0 min-h-screen py-6 px-6 bg-blanco-puro text-gris-oscuro dark:bg-negro-profundo dark:text-blanco-puro;
        transition: background-color 0.3s ease-in, color 0.3s ease-in;
    }

    hr {
        @apply my-3 h-[1px] bg-gris-medio dark:border-gris-claro/20;
    }

}

@layer components {
    .wrapper {
        @apply max-w-3xl w-full my-0 mx-auto;
    }

    .referencias {
        @apply text-verde-lima hover:text-gris-oscuro dark:hover:text-blanco-puro transition-colors duration-300 ease-in-out;
    }
}