:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --main-color: #73ba30;
}

[data-theme="dark"] {
    --background-color: #121212;
    --text-color: #ffffff;
}

[data-theme="light"] {
    --background-color: #ffffff;
    --text-color: #000000;
}

html {
    font-family: "Onest Variable", system-ui, sans-serif;
    scroll-behavior: smooth;
}


body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #121212;
        --text-color: #ffffff;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: #ffffff;
        --text-color: #000000;
    }
}