---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";

const title = "404 Página no encontrada";
---

<BaseLayout title={`${title} - Mario Rodríguez`}>
    <div class="flex flex-col gap-4">
        <h1 class="pt-3">Página No Encontrada</h1>

        <p>
            Llegaste hasta aquí, pero la página que buscas no está disponible.
            Si crees que esto es un error, quizás puedas <ExternalLink
                href="https://github.com/mrodriguezdev/mrodriguez.tech/issues"
                text="ayudarme"
            /> a solucionarlo.
        </p>
    </div>
</BaseLayout>
