---
import { getCollection } from "astro:content";
import { sortItemsByDateDesc } from "../utils/data-utils";
import { getEntryBySlug } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const blogEntries = (await getCollection("posts")).sort(
        sortItemsByDateDesc,
    );
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
    }));
}

const { slug } = Astro.params;
const cleanSlug = slug.replace(/^blog\//, "");
const entry = await getEntryBySlug("posts", cleanSlug);
---

<BaseLayout title={entry?.data.title}>
    <div>
        {entry?.data.excerpt}
    </div>
</BaseLayout>
