---
import BaseLayout from "../layouts/BaseLayout.astro";
import siteConfig from "../data/site-config";
---

<BaseLayout
	title={siteConfig.title}
	description={siteConfig.description}
	image={siteConfig.image}
>
	<main><h1>Hello from Blog page!</h1></main>
</BaseLayout>
