---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout
	title="Mario Rodríguez - Desarrollador de Software"
	description="Explora mi sitio web para descubrir mis proyectos y mi blog personal, reflejando mi pasión y habilidades en el desarrollo de software."
>
	<h1>Test</h1>
</BaseLayout>
