---
import Pagination from "@/components/Pagination.astro";
import PostPreview from "@/components/PostPreview.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import siteConfig from "@/config/site.config";

const pageSize = siteConfig.pageSize;
const allPosts = await getCollection("blog", ({ data }) => {
	return import.meta.env.PROD ? !data.draft : true;
});

const posts = allPosts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const currentPage = 1;

const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const paginatedPosts = posts.slice(start, end);

const nextPage = currentPage + 1;
const nextUrl = posts.length > pageSize ? `/page/${nextPage}` : null;

const title = "Publicaciones recientes";
---

<BaseLayout>
	<section class="flex flex-col">
		<h1 class="text-xl md:text-2xl my-4 mx-0 uppercase font-normal tracking-wide">
			{title}
		</h1>
		<div class="flex flex-col">
			{
				paginatedPosts.map((post, index) => (
					<div>
						<PostPreview post={post} />
						{index !== paginatedPosts.length - 1 && (
							<hr />
						)}
					</div>
				))
			}
		</div>

		{nextUrl && <Pagination nextUrl={nextUrl} />}
	</section>
</BaseLayout>
