---
import BaseLayout from "../layouts/BaseLayout.astro";
import siteConfig from "../data/site-config";
import PostPreview from "../components/PostPreview.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<BaseLayout
	title={siteConfig.title}
	description={siteConfig.description}
	image={siteConfig.image}
>
	<main>
		<h1 class="text-2sm text-gray-600 my-3">Recent Posts</h1>
		{
			posts.map((post) => (
				<PostPreview post={post} class="mb-10 sm:mb-12" />
			))
		}
	</main>
</BaseLayout>
