---
import Pagination from "@/components/Pagination.astro";
import PostPreview from "@/components/PostPreview.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import siteConfig from "@/config/site.config";

const pageSize = siteConfig.pageSize;
const allPosts = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? !data.draft : true;
});

const posts = allPosts.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const currentPage = 1;

const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const paginatedPosts = posts.slice(start, end);

const nextPage = currentPage + 1;
const nextUrl = posts.length > pageSize ? `/page/${nextPage}` : null;

const title = "Publicaciones recientes";
---

<BaseLayout>
	<section>
		<h1>{title.toUpperCase()}</h1>
		<div>
			{paginatedPosts.map((post) => <PostPreview post={post} />)}
		</div>
		{nextUrl && <Pagination nextUrl={nextUrl} />}
	</section>
</BaseLayout>

<style>
	section {
		display: flex;
		flex-direction: column;
	}

	h1 {
		font-size: 1.4rem !important;
		margin: 1rem 0 1rem 0;
	}

	div {
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}
</style>
