---
import Pagination from "@/components/Pagination.astro";
import PostPreview from "@/components/PostPreview.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import siteConfig from "@/config/site.config";

const pageSize = siteConfig.pageSize;
const allPosts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const currentPage = 1;

const start = (currentPage - 1) * pageSize;
const end = start + pageSize;
const paginatedPosts = allPosts.slice(start, end);

const nextPage = currentPage + 1;
const nextUrl = allPosts.length > pageSize ? `/page/${nextPage}` : null;
---

<BaseLayout>
	<section>
		{paginatedPosts.map((post) => <PostPreview post={post} />)}
		{nextUrl && <Pagination nextUrl={nextUrl} />}
	</section>
</BaseLayout>
