---
import BaseLayout from "@/layouts/BaseLayout.astro";
import ExternalLink from "@/components/ExternalLink.astro";

const nacimiento = new Date("1999-11-12");
const hoy = new Date();
const edad =
    hoy.getFullYear() -
    nacimiento.getFullYear() -
    (hoy <
    new Date(hoy.getFullYear(), nacimiento.getMonth(), nacimiento.getDate())
        ? 1
        : 0);

const title = "Sobre Mí";
---

<BaseLayout
    title=`${title} - Mario Rodríguez`
    description="Desarrollador de software, actualmente trabajando en Asesoría y Servicios Técnicos, S.A. de C.V."
>
    <section class="flex flex-col">
        <h1 class="text-2xl mx-0 my-4 uppercase">{title}</h1>
        <p class="m-0 leading-7 my-3 mx-0">
            ¡Hola! Soy Mario, un apasionado Ingeniero en Sistemas de {edad} años,
            originario de La Libertad, El Salvador 🇸🇻. Me gradué en 2024, y desde
            entonces he enfocado mi carrera en el desarrollo de software, con un
            especial interés en la creación de soluciones innovadoras y eficientes
            tanto en el backend como en el frontend.
        </p>
        <p class="m-0 leading-7 my-3 mx-0">
            Mi verdadera pasión reside en el desarrollo backend, donde me
            destaco por mi conocimiento en arquitecturas de <ExternalLink
                href="https://www.redhat.com/es/topics/microservices"
                text="microservicios"
            />
            y basadas en <ExternalLink
                href="https://www.redhat.com/es/topics/integration/what-is-event-driven-architecture"
                text="eventos"
            />. Me esfuerzo por diseñar sistemas escalables, robustos y fáciles
            de mantener, siempre con la eficiencia y el rendimiento como
            prioridad. Para mí, cada proyecto es una oportunidad para superar
            desafíos y aportar soluciones que realmente marquen la diferencia.
        </p>
        <p class="m-0 leading-7 my-3 mx-0">
            Espero que, a través de este sitio web, encuentres entradas de blog
            que te sean útiles, donde comparto experiencias, aprendizajes y
            técnicas sobre desarrollo de software. También podrás explorar
            algunos de mis proyectos, en los que he aplicado estas ideas, y que
            podrían ser de tu interés. Mi objetivo es no solo mostrar mi
            trabajo, sino también contribuir al crecimiento y aprendizaje de
            otros desarrolladores.
        </p>
    </section>
</BaseLayout>