---
const nacimiento = new Date("1999-11-12");
const hoy = new Date();
const edad =
    hoy.getFullYear() -
    nacimiento.getFullYear() -
    (hoy <
    new Date(hoy.getFullYear(), nacimiento.getMonth(), nacimiento.getDate())
        ? 1
        : 0);

const { title } = Astro.props;
---

<article>
    <h1>{title.toUpperCase()}</h1>
    <p>
        Hola, mi nombre es Mario. Tengo {edad} a침os y soy de La Libertad, El Salvador
        游젏릖. Me gradu칠 como Ingeniero en Sistemas en el a침o 2024. Aunque tengo una
        pasi칩n especial por el desarrollo backend, tambi칠n disfruto trabajando en
        el frontend.
    </p>
    <p>
        Mi enfoque en el desarrollo backend incluye una s칩lida comprensi칩n de la
        arquitectura de <a
            href="https://www.redhat.com/es/topics/microservices"
            class="referencias"
            target="_blank">microservicios</a
        > y la arquitectura basada en
        <a
            href="https://www.redhat.com/es/topics/integration/what-is-event-driven-architecture"
            class="referencias"
            target="_blank">eventos</a
        >. Me esfuerzo por crear soluciones escalables y eficientes, asegurando
        un rendimiento 칩ptimo y una f치cil mantenibilidad.
    </p>
    <p>
        En el desarrollo frontend, me apasiona crear experiencias de usuario
        atractivas y accesibles, utilizando las 칰ltimas tecnolog칤as y pr치cticas
        recomendadas. Me adapto r치pidamente a nuevos entornos y siempre estoy
        buscando mejorar mis habilidades y conocimientos en ambos campos del
        desarrollo.
    </p>
    <p>
        Soy un profesional dedicado y motivado, con un compromiso constante
        hacia la excelencia en todos mis proyectos.
    </p>
</article>

<style>
    article {
        display: flex;
        flex-direction: column;
    }

    h1 {
        font-size: 1.4rem;
        margin: 1rem 0 0 0;
    }

    @media (max-width: 767px) {
        h1 {
            font-size: 1.2rem;
        }
    }

    p {
        padding: 10px 0 10px 0;
    }
</style>
