---
import siteConfig from "@/data/site-config";

export type Props = {
    title?: string;
    description?: string;
};

const title = Astro.props.title || siteConfig.title;
---

<meta charset="utf-8" />
<meta name="description" content={siteConfig.description} />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>
<meta name="generator" content={Astro.generator} />
