---
export type Props = {
    code: string;
};

const { code } = Astro.props;
---

<div class="code-toolbar">
    <pre class="command">
        <code>{code}</code>
    </pre>
    <div class="toolbar">
        <div class="toolbar-item">
            <button onclick="copyCode()">Copiar</button>
        </div>
    </div>
</div>

<style>
    .code-toolbar {
        position: relative;
    }

    .code-toolbar pre {
        background: var(--color-gris-oscuro);
        color: var(--color-blanco-puro);
        padding: 1rem;
        border-radius: 0.4rem;
        margin: 0;
        overflow: auto;
        white-space: pre;
    }

    code {
        white-space: pre;
    }

    .toolbar {
        position: absolute;
        top: 0;
        right: 0;
    }

    .toolbar-item {
        display: inline-block;
        margin: 0.5rem;
    }

    .toolbar-item button {
        background: var(--color-verde-lima);
        color: var(--color-blanco-puro);
        border: none;
        padding: 0.5em;
        border-radius: 0.5rem;
        cursor: pointer;
    }
</style>

<script is:inline>
    if (typeof window !== "undefined") {
        document.addEventListener("DOMContentLoaded", () => {
            const buttons = document.querySelectorAll(".toolbar-item button");

            buttons.forEach((button) => {
                button.addEventListener("click", () => {
                    const codeElement = button
                        .closest(".code-toolbar")
                        .querySelector("code");

                    if (codeElement && codeElement.textContent) {
                        navigator.clipboard
                            .writeText(codeElement.textContent)
                            .then(() => {
                                const originalText = button.textContent;
                                button.textContent = "Copiado!";

                                setTimeout(() => {
                                    button.textContent = originalText;
                                }, 2000);
                            })
                            .catch((err) => {
                                console.error(
                                    "Fallo al copiar el código: ",
                                    err,
                                );
                            });
                    } else {
                        console.error(
                            "Elemento de código no encontrado o vacío",
                        );
                    }
                });
            });
        });
    }
</script>
