---
const currentYear = new Date().getFullYear();
const creationYear = 2024;

export interface Props {
    url: string;
    developer: string;
}

const { url, developer } = Astro.props;
---

<footer class="wrapper text-center p-3">
    <span class="text-base md:text-lg text-gris-medio">
        &copy; {creationYear} - {currentYear}
        <a class="text-verde-lima font-medium hover:text-gris-oscuro dark:hover:text-blanco-puro hover:underline transition-colors duration-300 ease-in-out" href={url}>{developer}</a>
        | Todos los derechos reservados.
    </span>
</footer>
