---
import siteConfig from "@/data/site-config";
const currentYear = new Date().getFullYear();
const creationYear = 2024;
---

<div class="text-center">
    <span class="text-sm text-zinc-800/90 dark:text-zinc-200/90">
        &copy; {creationYear} - {currentYear}
        <a
            href={siteConfig.url}
            class="text-customer-green text-sm hover:underline">mrodriguezdev</a
        >
        | Todos los derechos reservados.
    </span>
</div>
