---
const currentYear = new Date().getFullYear();
const creationYear = 2024;

export interface Props {
    url: string;
    developer: string;
}

const { url, developer } = Astro.props;
---

<footer class="wrapper text-center pt-7">
    <span class="text-sm text-gris-medio">
        &copy; {creationYear} - {currentYear}
        <a class="text-verde-lima transition duration-500 ease-in-out hover:underline" href={url}>{developer}</a>
        | Todos los derechos reservados.
    </span>
</footer>
