---
import CalendarIcon from "./icons/Calendar.astro";
import TimeIcon from "./icons/Time.astro";
type Props = { date: Date; time: number };

const { date, time } = Astro.props;
---

<div class="flex justify-between">
    <div class="flex items-center gap-x-3 text-base text-gris-medio">
        <TimeIcon />
        {time}
        {time > 1 ? "minutos" : "minut"}
    </div>
    <div class="flex items-center gap-x-3 text-base text-gris-medio">
        <CalendarIcon />
        <time datetime={date.toISOString()}>
            {
                date.toLocaleDateString("es-ES", {
                    timeZone: "UTC",
                    year: "numeric",
                    month: "short",
                    day: "2-digit",
                })
            }
        </time>
    </div>
</div>
