---
import HeaderImage from "./HeaderImage.astro";
import SiteTitle from "./SiteTitle.astro";
import PreNav from "./PreNav.astro";
import Navigation from "./Navigation.astro";
---

<header class="flex flex-col pt-6">
    <div class="flex items-center gap-5">
        <HeaderImage />
        <SiteTitle />
    </div>
    <div class="grid grid-cols-1 divide-y divide-gray-700">
        <PreNav />
        <Navigation />
    </div>
</header>
