---
import siteConfig from "@/data/site-config";
---

<nav class="py-2">
    <ul class="flex gap-x-4">
        {
            siteConfig.headerNavLinks?.map((item) => (
                <li>
                    <a
                        style="color: var(--color-verde-lima);"
                        href={item.href}
                        class="hover:underline"
                    >
                        {item.text}
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
