---
import siteConfig from "@/data/site-config";
---

<nav>
    <ul>
        {
            siteConfig.headerNavLinks?.map((item) => (
                <li>
                    <a href={item.href}>{item.text}</a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    ul {
        display: flex;
        column-gap: 1rem;
    }

    a {
        color: var(--color-verde-lima);
    }

    a:hover {
        text-decoration-line: underline;
    }
</style>
