---
import type { Link } from "@/config/site.config";
import ThemeToggle from "./ThemeToggle.astro";

export interface Props {
    navLinks: Link[];
}

const { navLinks } = Astro.props;
---

<nav class="flex justify-between">
    <ul class="flex gap-x-4">
        {
            navLinks.map((item) => (
                <li>
                    <a class="text-verde-lima text-lg hover:underline hover:text-gris-oscuro dark:hover:text-blanco-puro transition-colors" href={item.href}>{item.text}</a>
                </li>
            ))
        }
    </ul>
    <ThemeToggle />
</nav>
