---
import type { Link } from "@/config/site.config";
import ThemeToggle from "./ThemeToggle.astro";

export interface Props {
    navLinks: Link[];
}

const { navLinks } = Astro.props;
---

<nav>
    <ul>
        {
            navLinks.map((item) => (
                <li>
                    <a href={item.href}>{item.text}</a>
                </li>
            ))
        }
    </ul>
    <ThemeToggle client:load />
</nav>

<style>
    nav {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
        column-gap: 1rem;
    }

    a {
        color: var(--color-verde-lima);
        font-size: 1.1rem;
    }

    a:hover {
        text-decoration-line: underline;
    }
</style>
