---
import FormattedDate from "@/components/FormattedDate.astro";
import PostComments from "@/components/PostComments.astro";

const { title, publishDate } = Astro.props;
---

<article>
    <header>
        <h1>
            {title}
        </h1>
        {publishDate && <FormattedDate date={publishDate} />}
    </header>
    <div>
        <slot />
    </div>

    <PostComments />
</article>

<style>
    article {
        margin: 35px 0 48px 0;
    }

    header h1 {
        color: var(--color-blanco-puro);
        font-size: 1.8rem;
        text-wrap: pretty;
    }

    div {
        max-width: 100%;
        white-space: pre-wrap;
    }
</style>
