---
import PostComments from "@/components/PostComments.astro";
import PostTimeAndDate from "@/components/PostTimeAndDate.astro";

const { title, publishDate, time } = Astro.props;
---

<article>
    <header>
        <h1>
            {title}
        </h1>
        {
            publishDate && time && (
                <PostTimeAndDate date={publishDate} time={time} />
            )
        }
    </header>
    <div>
        <slot />
    </div>

    <PostComments />
</article>

<style>
    article {
        margin: 35px 0 48px 0;
    }

    .dark h1 {
        color: var(--color-blanco-puro);
        font-size: 1.8rem;
        text-wrap: pretty;
    }

    div {
        max-width: 100%;
        white-space: pre-wrap;
    }
</style>
