---
export interface Props {
    url: string;
}

const { url } = Astro.props;
---

<div class="flex-1">
    <h1
        class="text-2xl text-gris-oscuro dark:text-blanco-puro font-semibold
    capitalize dark:hover:text-gris-claro"
    >
        <a href={url} target="_blank">Mario Rodríguez</a>
    </h1>
    <h2 class="text-lg text-gris-medio">Temas y Tips sobre Programación y Tecnología</h2>
</div>


