---
import siteConfig from "@/data/site-config";
---

<div class="flex flex-col">
    <h1 class="text-3xl font-medium text-justify">
        <a class="text-gray-400" href={siteConfig.url} target="_blank"
            >Mario Rodríguez</a
        >
    </h1>
    <h2 class="text-xl text-gray-600">Software Engineer</h2>
</div>
