---
export interface Props {
    url: string;
}

const { url } = Astro.props;
---

<div class="flex flex-col">
    <h1 class="text-blanco-puro text-justify text-2xl 
    font-semibold transition duration-500 ease-in-out capitalize 
    hover:text-gris-claro mt-4 mb-4">
        <a href={url} target="_blank">Mario Rodríguez</a>
    </h1>
    <h2 class="text-lg text-gris-claro m-0">Temas y Tips sobre Programación y Tecnología</h2>
</div>

<style>
    html.light h2 {
        color: var(--color-gris-medio);
        font-weight: 300;
    }

    html.light h1:hover {
        color: var(--color-gris-oscuro);
    }
</style>
