---
import type { SocialMedia } from "@/config/site.config";

export interface Props {
    social: SocialMedia[];
}

const { social } = Astro.props;
---

<nav class="flex justify-end p-0">
    <ul class="flex gap-x-2 mt-4 mb-4">
        {
            social.map((item) => (
                <li>
                    <a class="text-verde-lima" href={item.url} target="_blank" title={item.name}>
                        <item.icon />
                    </a>
                </li>
            ))
        }
    </ul>
</nav>