---
import siteConfig from "@/data/site-config";
---

<nav>
    <ul>
        {
            siteConfig.socialLinks?.map((item) => (
                <li>
                    <a href={item.url} target="_blank" title={item.name}>
                        <item.icon />
                    </a>
                </li>
            ))
        }
    </ul>
</nav>

<style>
    nav {
        display: flex;
        justify-content: flex-end;
        padding: 0.5rem 0 0.5rem 0;
    }

    ul {
        display: flex;
        column-gap: 0.5rem;
    }

    a {
        color: var(--color-verde-lima);
    }
</style>
