---
import type { SocialMedia } from "@/config/site.config";

export interface Props {
    social: SocialMedia[];
}

const { social } = Astro.props;
---

<nav class="flex justify-end p-0">
    <ul class="flex gap-x-2">
        {
            social.map((item) => (
                <li>
                    <a href={item.url} target="_blank" title={item.name}>
                        <item.icon class="w-6 h-6 text-verde-lima hover:text-gris-oscuro dark:hover:text-blanco-puro transition-colors" />
                    </a>
                </li>
            ))
        }
    </ul>
</nav>
