---
import MoonIcon from "./icons/Moon.astro";
import SunIcon from "./icons/Sun.astro";
---

<button id="theme-toggle" aria-label="Change color scheme">
    <MoonIcon id="moon-icon" style="display: none;" />
    <SunIcon id="sun-icon" />
</button>

<script is:inline>
    document.addEventListener("astro:page-load", () => {
        const getInitialTheme = () => {
            if (typeof localStorage !== "undefined") {
                const storedTheme = localStorage.getItem("theme");
                if (storedTheme) {
                    return storedTheme;
                }
            }
            if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                return "dark";
            }
            return "dark"; // Dark theme by default
        };

        const theme = getInitialTheme();

        const applyTheme = (theme) => {
            const htmlElement = document.documentElement;
            const sunIcon = document.getElementById("sun-icon");
            const moonIcon = document.getElementById("moon-icon");

            if (!htmlElement || !sunIcon || !moonIcon) {
                console.error("Error: One or more elements not found");
                return;
            }

            if (theme === "light") {
                htmlElement.classList.remove("dark");
                sunIcon.style.display = "none";
                moonIcon.style.display = "block";
            } else {
                htmlElement.classList.add("dark");
                sunIcon.style.display = "block";
                moonIcon.style.display = "none";
            }
            window.localStorage.setItem("theme", theme);

            // Dispatch custom event for theme change
            const event = new CustomEvent("themeChange", { detail: { theme } });
            window.dispatchEvent(event);
        };

        applyTheme(theme);

        const handleToggleClick = () => {
            const htmlElement = document.documentElement;
            if (!htmlElement) return;

            const isDark = htmlElement.classList.toggle("dark");
            const newTheme = isDark ? "dark" : "light";
            applyTheme(newTheme);
        };

        const themeToggleButton = document.getElementById("theme-toggle");
        if (themeToggleButton) {
            themeToggleButton.addEventListener("click", handleToggleClick);
        } else {
            console.error("Error: Theme toggle button not found");
        }
    });
</script>
