---
import "@fontsource-variable/onest";
import "../styles/main.css";
import { ViewTransitions } from "astro:transitions";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import BaseHead, { type Props as HeadProps } from "@/components/BaseHead.astro";

export type Props = HeadProps & { showHeader?: boolean };

const { showHeader = true, ...head } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead {...head} />
		<ViewTransitions />
	</head>
	<body>
		<div class="flex flex-col min-h-screen px-4 md:px-8">
			<header class="w-full max-w-3xl mx-auto">
				<Header />
			</header>
			<main class="grow w-full max-w-3xl mx-auto">
				<slot />
			</main>
			<footer class="w-full max-w-3xl mx-auto">
				<Footer />
			</footer>
		</div>
	</body>
</html>
