---
import PostPreview from "@/components/PostPreview.astro";
import { sortItemsByDateDesc } from "@/utils/data-utils";
import { getCollection } from "astro:content";
const posts = (await getCollection("posts")).sort(sortItemsByDateDesc);

const title = "Publicaciones recientes";
---

<section>
    <h1>{title.toUpperCase()}</h1>
    {posts.map((post) => <PostPreview post={post} />)}
</section>

<style>
    h1 {
        font-size: 1.4rem;
        margin: 1rem 0 0 0;
    }

    @media (max-width: 767px) {
        h1 {
            font-size: 1.2rem;
        }
    }
</style>
