---
import FormattedDate from "@/components/FormattedDate.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { pubDate, time } = Astro.props;
---

<article>
    {pubDate && time && <FormattedDate date={pubDate} time={time} />}
    <div><slot /></div>
</article>
