---
import FormattedDate from "@/components/FormattedDate.astro";
import PostComments from "@/components/PostComments.astro";
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"blog">["data"];

const { pubDate, time } = Astro.props;
---

<article class="flex flex-col gap-4">
    {pubDate && time && <FormattedDate date={pubDate} time={time} />}

    <div
        class="prose max-w-none
              prose-p:text-gris-oscuro
              prose-headings:text-gris-oscuro
              prose-strong:text-gris-oscuro
              dark:prose-p:text-gris-claro
              dark:prose-strong:text-gris-medio
              dark:prose-headings:text-blanco-puro"
    >
        <slot />
    </div>

    <PostComments />
</article>
